<div class="col col-12">
  <div class="card ">
    <div class="card-header">
      <button [routerLink]="[route]" class="btn btn-sm btn-primary" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="fa fa-list-ul"></span>
        List
      </button>

      <button [routerLink]="[route, 'new']" routerLinkActive="active" class="btn btn-sm btn-success float-right">
        <span class="fa fa-plus"></span>
        Add
      </button>
    </div>

    <div class="card-block" style="padding: 0">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
