<mat-toolbar color="primary">
  <button mat-button routerLink="/">BoulonBouCour</button>
  <span class="spacer"></span>
  <button mat-button routerLink="/customers">
    Customers
  </button>
  <button mat-button routerLink="/suppliers">
    Suppliers
  </button>
  <button mat-button routerLink="/invoices">
    Invoices
  </button>
  <button mat-button routerLink="/stocks">
  Stocks
</button>
  <button mat-button routerLink="/automates">
  Automates
</button>
<button mat-button routerLink="/products">
  Products
</button>
<button mat-icon-button>
  <mat-icon>favorite</mat-icon>
</button>
<mat-icon>delete</mat-icon>
</mat-toolbar>
