<mat-toolbar color="primary">
  <button mat-button routerLink="/">BoulonBouCour</button>
  <span class="spacer"></span>
  <button mat-button>
    Customers
  </button>
  <button mat-button>
    Suppliers
  </button>
  <button mat-button>
    Invoices
  </button>
  <button mat-button>
  Stocks
</button>
  <button mat-button>
  Automates
</button>
  <button mat-button>
    Products
  </button>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <mat-icon>delete</mat-icon>
</mat-toolbar>
