<mat-toolbar color="primary">
  <button mat-button routerLink="/">Boulon Boucour</button>
  <button mat-button routerLink="/customers">
    Clients
  </button>
  <button mat-button [routerLink]="['/suppliers']">
    Fournisseurs
  </button>
  <button mat-button routerLink="/invoices">
    Factures
  </button>
  <button mat-button routerLink="/stocks">
  Stocks
</button>
  <button mat-button routerLink="/automates">
  Machines
</button>
<button mat-button routerLink="/products">
  Produits
</button>
<span class="spacer"></span>
<button mat-icon-button>
  <mat-icon>favorite</mat-icon>
</button>
<mat-icon>delete</mat-icon>
</mat-toolbar>
