<div class="supplier-details-container" *ngIf="supplier">
  <div class="card">
    <div class="card-header">
      {{ type }}
    </div>
    <div class="card-body">
      <p>Type: <span class="badge badge-primary">{{supplier.type}}</span></p>
      <p>Nom: <span class="badge badge-primary">{{supplier.name}}</span></p>
      <p *ngIf="supplier.deliveryTime">Temps de livraison: <span class="badge badge-primary">{{supplier.deliveryTime}}</span></p>
      <p *ngIf="supplier.email">E-mail:  <span class="badge badge-primary">{{supplier.email}}</span></p>
      <p *ngIf="supplier.phoneNumber">Téléphone:  <span class="badge badge-primary">{{supplier.phoneNumber}}</span></p>
      <p *ngIf="supplier.address">Adresse: <span class="badge badge-primary">{{supplier.address}}</span></p>
      <p *ngIf="supplier.position">Poste:  <span class="badge badge-primary">{{supplier.position}}</span></p>
      <p *ngIf="supplier.comment">Notes:  <span class="badge badge-primary">{{supplier.comment}}</span></p>
      <div *ngIf="type === 'Supplier'" && materialLines>
        <p>Matériaux vendus:  <span class="badge badge-primary">{{getMaterialName(materialLines.materialId)}}</span></p>
        <p>Prix: <span class="badge badge-primary">{{materialLines.price}}</span></p>
      </div>
    </div>
    <div class="card-footer text-muted">
      <span class="float-md-right ">
        <button (click)="onEdit.emit(supplier)" class="btn btn-sm btn-outline-warning"> EDIT</button>
        <button (click)="onDelete.emit(supplier)"  class="btn btn-sm btn-outline-danger"> DELETE</button>
      </span>
    </div>
  </div>

</div>

