<table *ngIf="suppliers; else loading" class="table table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr class="supplier-row" *ngFor="let s of suppliers; trackBy: suppliersTrackByFn">
    <th scope="row">{{s.id}}</th>
    <td>{{s.name}}</td>
    <td>{{s.email}}</td>
    <td>{{s.phoneNumber}}</td>
    <td>
      <span class="float-right">
        <button (click)="showDetails(s)" class="btn btn-outline-primary mb-1 btn-sm">
          DETAILS
        </button>

        <button (click)="editSupplier(s)" class="btn btn-outline-warning mb-1 btn-sm">
          EDIT
        </button>

        <button (click)="deleteSupplier(s)" class="btn btn-outline-danger mb-1 btn-sm">
          DELETE
        </button>
      </span>
    </td>
  </tr>

  </tbody>
</table>

<ng-template #loading>
  <span>loading suppliers...</span>
</ng-template>
