<table *ngIf="products; else loading" class="table table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Nom</th>
    <th>E-mail</th>
    <th>Téléphone</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr class="product-row" *ngFor="let p of products; trackBy: productsTrackByFn">
    <th scope="row">{{p.id}}</th>
    <td>{{p.name}}</td>
    <td>
      <span class="float-right">
        <button (click)="showDetails(p)" class="btn btn-outline-primary mb-1 btn-sm">
          DETAILS
        </button>

        <button (click)="editProduct(p)" class="btn btn-outline-warning mb-1 btn-sm">
          MODIFIER
        </button>

        <button (click)="deleteProduct(p)" class="btn btn-outline-danger mb-1 btn-sm">
          SUPPRIMER
        </button>
      </span>
    </td>
  </tr>

  </tbody>
</table>

<ng-template #loading>
  <span>chargement...</span>
</ng-template>
